# Python bytecode (cache) files
*.pyc
__pycache__/

# Folders
hidden_states/
ift-models/
run_scripts/
singular_values/
clf_models/
model_responses/

# Datasets (WildJB is excluded as it's large)
datasets/wildjb/
datasets/wildguardmix/

# Notebooks
*.ipynb_checkpoints
visualization.ipynb
plot.ipynb
playground.ipynb
refusal/check_refusal.ipynb

# Python scripts
separability.py
compute_sing_values.py
plot.py
utils/plot.py

# Bash scripts
*.sh

# Files
guardrail_state.pth